<div class="landing-container">
  <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/api-data">Gallery</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/form">Add Photo</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="banner">
      <div class="banner-text">
          <h1>Welcome to Photos Gallery</h1>
      </div>
  </div>

 
</div>
