<div class="container">
  <h1>Register Form</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" class="form-control" id="username" formControlName="username" />
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error-message">
        <span>Username is required</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        <span>Password is required</span>
      </div>
      <div *ngIf="registerForm.controls.password.errors?.['minlength']" class="error-message">
        <span>Password must be at least 3 characters long</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">email id</label>
      <input type="email" class="form-control" id="email" formControlName="email" />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        <span>Email is required</span>
      </div>
      <div *ngIf="registerForm.controls.email.errors?.['email']" class="error-message">
        <span>Email must be a valid email address</span>
      </div>
    </div>

    <button type="submit" class="submit-button" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
